<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con footer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b007624938.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <h1>Electronica Dinamita</h1>
    <p>Contenido de la página...</p>
    
    <footer>
        <div class="container">
            <div class="info-empresa">
                <p>
                    <a href="#">Ingresa</a> | <a href="#">Crea tu cuenta</a>
                </p>
                <p>
                    Términos y condiciones | Cómo cuidamos tu privacidad | Accesibilidad
                </p>
                <p>
                    Información al usuario financiero | Defensa del consumidor | Información sobre seguros
                </p>
                <p>Blog | Tendencias</p>
            </div>
            <div class="copyright">
                <p>&copy; 1999-2024 Dynnamite S.R.L.</p>
                <p>Av. SiempreViva 117, Piso 2, CP 8944, Springfield, Oregon</p>
            </div>
        </div>
    </footer>
</body>
</html>
