<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f0b4467de7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <img class="img-jbl" src="images/carrusel.png" alt="carrusel">
    <main class="main-index">
        <section class="section1-index">
            <div class="div-jbl"> 
                <i class="fa-solid fa-credit-card"></i>
                <P>Medios de Pago</P>
                <P>Ver promociones</P>
            </div>
            <div>
                <i class="fa-solid fa-dollar-sign"></i>
                <p>Creditos</p>
                <p>Consulta tus creditos</p>
            </div>
        </section>
        <section>
            <article>
                <div>
                    <img src="images/1_JBL_FLIP6_HERO_BLUE_29399_x1 (1).png" alt="Parlante JBL">
                    <h4>Parlante JBL</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/1_JBL_FLIP6_HERO_BLUE_29399_x1 (1).png" alt="Parlante JBL">
                    <h4>Parlante JBL</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/1_JBL_FLIP6_HERO_BLUE_29399_x1 (1).png" alt="Parlante JBL">
                    <h4>Parlante JBL</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/1_JBL_FLIP6_HERO_BLUE_29399_x1 (1).png" alt="Parlante JBL">
                    <h4>Parlante JBL</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/1_JBL_FLIP6_HERO_BLUE_29399_x1 (1).png" alt="Parlante JBL">
                    <h4>Parlante JBL</h4>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div><img src="" alt=""></div>
            </article>
            <article>
                <div><img src="" alt=""></div>
            </article>
            <article>
                <div><img src="" alt=""></div>
            </article>
            <article>
                <div><img src="" alt=""></div>
            </article>
        </section>
        <section>
            <article>
                <h4>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                </h4>
            </article>
        </section>
    </main>
</body>
</html>
