<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b007624938.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h1>Ingresa con tus datos</h1>
            <input type="text" placeholder="Usuario/Email" id="username">
            <input type="password" placeholder="Contraseña" id="password">
            <button type="submit">Iniciar Sesión</button>
            <a href="#">Recuperar clave</a>            
        </div>
    </div>
</body>
</html>
