<!--version de html-->
<!DOCTYPE html>
<!--inicio y configuracin de idioma-->
<html lang="es">
<!--cabecera-pagina-->

<head>
    <!--configuracion de caracteres-->
    <meta charset="UTF-8">
    <!--pagina responsivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--titulo de la pagina-->
    <title> Dinamita</title>
    <!-- Familia Roboto tipografía via  google -->
   
    <!-- iconos  fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- icon -->
    <script src="https://kit.fontawesome.com/b007624938.js" crossorigin="anonymous"></script>
    <!--hoja de estilos-->
    <link rel="stylesheet" href="../css/style.css">
</head>
</head>

<body>
    <header>
        <nav>
            <ul>
                <i class="fas fa-bars"></i>
                <a href="/productCart"><i class="fa-solid fa-truck"></i> Segui tu compra</a>
                <a href=""><i class="fa-solid fa-comment"></i> Centro de ayuda</a>
                <a href=""><i class="fa-solid fa-business-time"></i> Sucursales</a>
            </ul>
            <ul>
                <div>
                    <a href="/"><img src="/images/logo.png" alt="logo dinamita"></a>
                </div>
                <a href="/login"><i class="fa-regular fa-circle-user"></i> Mi cuenta</a>
                <a href="/productCart"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                <input type="search" placeholder="">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span>Estas en <a href=""></a>Quilmes</span>
            </ul>
        </nav>
    </header>
</body>

</html>