.body-index{
    margin: 0px;
}

.main-index {
}

.section-index{
    display: flex;
    flex-wrap: nowrap;
    
}

.carrusel{
    width: 340px;
    margin: 0;
}

.arct-home{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.img-jbl{
    width: 122px;
}
@media (min-width: 425px){

}