/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

/* Estilos del formulario */
.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

input {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #c1c1c1;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #949494;
}

a {
    color: #5b0667;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Media queries para adaptar el formulario a diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}
